langchain
langchain-core
langchain-classic
langchain-community
grandalf
langchain-google-genai
google-generativeai
langchain-huggingface
transformers
huggingface-hub
sentence-transformers
python-dotenv
numpy
scikit-learn
streamlit
pydantic[email]
pypdf
langchain-chroma
chromadb
faiss-cpu
wikipedia
ddgs
youtube-transcript-api
ipykernel
langchain-experimental